.app {
  width: 100vw;
}

.app-header {
  height: $app-header-height;
  background: $color-blue-dark;
}

.app-main{
  background: $color-white;
}

.app-footer{
  height: $app-footer-height;
  background: $color-blue-dark;
}
