* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper{
  max-width: $screen-breakpoint-xl;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

img {
  box-sizing: border-box;
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}