.footer{
  @extend %wrapper;
  color: $color-white;
}

.footer__icons-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  a {
    margin-right: 1rem;
  }
}